.list {
	color: $color-light-1;
	display: flex;
	font-size: $default-font-size;
	color: #ffffff;
	font-weight: 400;
	line-height: 1.8rem;
	text-transform: uppercase;
	transition: all .5s cubic-bezier(.26,.18,.54,1.26);
	
	@media only screen and(max-width: $bp-medium) {
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: -110%;
	    margin-top: 0;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
		background: $color-nav-list-bg;
		z-index: 10;
	}
	
	/* .list__item */

	&__item {
		color: inherit;
		padding: 1rem 2rem;
		border-radius: 5px;
		transition: $transition-speed;
		&:not(:last-child){
			margin-right: 1.5rem;
			@media only screen and(max-width: $bp-medium) {
			    margin-right: .5rem;
			    padding: 2rem 3rem;
			}
		}
		/* .list__item_act */

		&_act{
			background: #744489;
		}

		&:hover{
			background: #744489;
		}
		@media only screen and(max-width: $bp-medium) {
			margin: 0.5rem 0 .5rem 0;
			font-size: 2rem;
		}
		
	}

	/* .list__link */

	&__link {
		color: inherit;

	}
}
