.heading-primary{
	/* Style for "Hi there!" */
	color: $color-heading-primary;
	font-size: 4.2rem;
	font-weight: 700;
	line-height: 4.9rem;
	text-transform: uppercase;
	padding: 2rem;
}
.heading-secondary{
	
}
.paragraph{
	
}