
/* COLOR VARIABLES */

$color-primary: #87509c;

$color-secondary: #101d2c;

$color-heading-primary: #f7f3ea;
$color-nav-list-bg: #d74680;

$color-light-1: #ffffff;
$color-grey-light-2: #aaa;

$color-dark-1: black;
$color-grey-dark-2: #6D5D4B;

$header-bg-color: #87509c;
$services-bg-color: #17c2a4;

$color-btn-primary: #eb7d4b;
/* .COLOR VARIABLES */

/* FONT VARIABLES */

$font-primary: 'Titillium Web', sans-serif;;
/* /FONT VARIABLES */

/* Default font size */

$default-font-size: 1.6rem;

/* /Default font size */

/* Container max-width */

$max-width: 114rem;

/* /Container max-width */

/* RESPONSIVE BREAKPOINTS (width) */

$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 29em;    // 600px;

/* /RESPONSIVE BREAKPOINTS (width) */

/* RESPONSIVE BREAKPOINTS (height) */

$bp-height-normal: 37.5em;   // 800px;

/* /RESPONSIVE BREAKPOINTS (height) */


/* Transition speed  */

$transition-speed: 0.3s;

/* /Transition speed */




